<mat-toolbar color="primary">
  <span>Welcome to {{title}}!</span>
</mat-toolbar>
<mat-toolbar>
    <div class="button-row">
        <a routerLink="/dashboard"><button mat-raised-button color="primary">Dashboard</button></a>
        <a routerLink="/sensors"><button mat-raised-button>Sensors</button></a>
    </div>
    <span class="spacer"></span>
    <app-sensor-search></app-sensor-search>
</mat-toolbar>

<router-outlet></router-outlet>
<mat-toolbar class="footer-row">
    <span class="spacer"></span><span id="footer-row-span">created by @aleksl</span>
</mat-toolbar>
<!--<app-messages></app-messages>--> 